@model Entity.DavetiyeKatalog

@{
    ViewBag.Title = "Katalog Sil";
}

<h2>Katalog Sil</h2>

<h3>Bu kataloğu silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Davetiye Katalog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KatalogAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KatalogAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kataloğu Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Katalog Listesine Geri Dön", "Index")
        </div>
    }
</div>
